# Copyright (C) 2025 Eclipse Foundation and others.
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License v. 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0.
#
# SPDX-FileType: SOURCE
# SPDX-FileCopyrightText: 2025 Eclipse Foundation
# SPDX-License-Identifier: EPL-2.0

# Please note that the specific tsffer configuration in the steps below is primarily chosen to illustrate different usage scenarios;
# this is not necessarily reflecting a best-of-breed configuration.

# .github/workflows/release.yml
name: Release workflow

on:
  push:
    tags:
      - v*

concurrency:
  group: "release-${{ github.head_ref || github.ref }}"
  cancel-in-progress: true

jobs:
  quality_artifacts:
    name: A job to collect quality artifacts
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Print run ID
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh run view $GITHUB_RUN_ID

      # Do the quality artifact collection thing
      - name: Collect first quality artifact (upload to release set)
        uses: ./ # Uses an action in the root directory
        id: tsffer_README
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          mode: file
          release_upload: true
          file: README.md
          asset_description: "For tsffer testing purposes, we are providing our brilliant README"
          asset_name: "Project README"
          asset_tsf_ids: "TA-BEHAVIOURS"
          asset_type: "DOCUMENTATION"

      - name: Collect second quality artifact (implicitly don't upload to release set)
        uses: ./ # Uses an action in the root directory
        id: tsffer_LICENSE
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          file: LICENSE

      - name: Collect third quality artifact, as a glob (explicitly don't upload to release set)
        uses: ./ # Uses an action in the root directory
        id: tsffer_glob
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          release_upload: false
          file: schema/*
          file_glob: true
          asset_description: "Set of files constituting a report of some kind"
          asset_type: "REPORT"
          asset_tsf_ids: "TA-BEHAVIOURS,TA-CONSTRAINTS"

      - name: Collect fourth quality artifact, a reference to this workflow (upload to release set)
        uses: ./ # Uses an action in the root directory
        id: tsffer_REFERENCE
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          mode: reference
          release_upload: true
          reference_urls: "https://github.com/AnotherDaniel/tsffer/blob/369c487287fb1e2fbe15d580501445c5d2b062ed/.github/workflows/release.yml#L11|https://www.example.org"
          asset_description: "Link to specific line in tsffer release automation"
          asset_name: "ReleaseCI"
          asset_tsf_ids: "TA-RELEASES,TA-ITERATIONS"
          asset_type: "SOURCE"

  artifacts_upload:
    name: Upload quality artifact archive to release file set
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: read
    needs: quality_artifacts
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create release
        uses: softprops/action-gh-release@v2
        id: create_release
      - name: Show release URL
        run: |
          echo ${{ steps.create_release.outputs.url }}

      - name: Package quality artifacts and upload to release
        uses: ./ # Uses an action in the root directory
        id: tsffer_package
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          mode: package
          release_upload: true
